#content{
	padding-bottom: 40px;
}

.content-vinos{
	background-color: #fff;
    width: 80%;
    -webkit-box-shadow: 0px -7px 25px 5px rgb(153,51,0);
       -moz-box-shadow: 0px -7px 25px 5px rgb(153,51,0);
            box-shadow: 0px -7px 25px 5px rgb(153,51,0);
    margin: auto;
}

.vino-tipo{
	height: 150px;
	border-bottom: 1px dashed black;
}

.img-vino img{
	height: 100%;
	width: 200px;
	-webkit-box-shadow: 0px 7px 25px -5px #fff;
       -moz-box-shadow: 0px 7px 25px -5px #fff;
            box-shadow: 0px 7px 25px -5px #fff;
    margin: 2px;
}

#bodega span{
	display: inline-block;
}

.texto-vino{
	margin-left: 50px;
	margin-top: 10px;
}

.tit-vino{
	font-size: 35px;
}

.desc-vino{
	font-size: 20px;
	color: #666;
	font-style: italic;
	margin-left: 15px;
}

.prec-vino{
	height: 100%;
	width: 200px;
	float: right;
	font-size: 30px;
	text-align: center;
	padding: 50px 0px;
	border-left: 1px dotted black;
}

@media (max-width: 1200px) and (min-width: 1000px){
	.vino-tipo{
		height: 120px;
	}

	.tit-vino{
		font-size: 30px;
	}

	.desc-vino{
		font-size: 20px;
	}

	.prec-vino{
		width: 150px;
		font-size: 20px;
		padding: 45px 0px;
	}
}

@media (max-width: 1000px) and (min-width: 850px){
	.vino-tipo{
		height: 100px;
	}

	.img-vino img{
		width: 150px;
	}

	.tit-vino{
		font-size: 25px;
	}

	.desc-vino{
		font-size: 15px;
	}

	.prec-vino{
		width: 100px;
		font-size: 17px;
		padding: 40px 0px;
	}
}

@media (max-width: 850px) and (min-width: 700px){
	.content-vinos{
		width: 85%;
	}

	.vino-tipo{
		height: 100px;
	}

	.texto-vino{
		margin-left: 25px;
		margin-top: 7px;
	}

	.img-vino img{
		width: 150px;
	}

	.tit-vino{
		font-size: 23px;
	}

	.desc-vino{
		font-size: 14px;
	}

	.prec-vino{
		width: 100px;
		font-size: 17px;
		padding: 40px 0px;
	}
}

@media (max-width: 700px) and (min-width: 600px){
	.content-vinos{
		width: 90%;
	}

	.vino-tipo{
		height: 100px;
	}

	.texto-vino{
		margin-left: 20px;
		margin-top: 5px;
	}

	.img-vino img{
		width: 150px;
	}

	.tit-vino{
		font-size: 20px;
	}

	.desc-vino{
		font-size: 13px;
	}

	.prec-vino{
		width: 90px;
		font-size: 16px;
		padding: 35px 0px;
	}
}

@media (max-width: 600px) and (min-width: 450px){
	.content-vinos{
		width: 95%;
	}

	.vino-tipo{
		height: 100px;
	}

	.texto-vino{
		margin-left: 20px;
		margin-top: 5px;
	}

	.img-vino img{
		width: 120px;
	}

	.tit-vino{
		font-size: 20px;
	}

	.desc-vino{
		font-size: 13px;
	}

	.prec-vino{
		width: 90px;
		font-size: 16px;
		padding: 35px 0px;
	}
}

@media (max-width: 450px){
	.content-vinos{
		width: 95%;
	}

	.vino-tipo{
		height: 90px;
	}

	.texto-vino{
		margin-left: 15px;
		margin-top: 5px;
	}

	.img-vino img{
		width: 100px;
	}

	.tit-vino{
		font-size: 18px;
	}

	.desc-vino{
		font-size: 12px;
	}

	.prec-vino{
		width: 80px;
		font-size: 15px;
		padding: 30px 0px;
	}
}